<div>
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-sm-12 jumbotron">
                <div class="text-muted text-centered">Hello new user. Please fill out the following form to register. All fields are required.</div>
                <br>
                <br>
                <div class="form-group">
                    <label for="userNameField">User Name:</label>
                    <input type="text" class="form-control" id="userNameField" placeholder="Choose a user name">
                    <br>
                    <label for="passwordField">Password:</label>
                    <input type="password" class="form-control" id="passwordField" placeholder="choose a password">
                    <br>
                    <label for="passwordConfirmField">Confirm Password:</label>
                    <input type="password" class="form-control" id="passwordConfirmField" placeholder="confirm password">
                    <br>
                    <label for="firstNameField">First Name:</label>
                    <input type="text" class="form-control" id="firstNameField" placeholder="First name">
                    <br>
                    <label for="lastNameField">Last Name:</label>
                    <input type="text" class="form-control" id="lastNameField" placeholder="Last name">
                    <br>
                    <label for="emailField">E-Mail:</label>
                    <input type="email" class="form-control" id="emailField" placeholder="Email">
                    <button type="submit" class="btn btn-primary" >Submit</button>
                </div>
            </div>
            
        </div>
    </div>
</div>