<div>
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-sm-12 jumbotron">
                <div class="text-muted text-centered">Hello new user. Please register with the form below.</div>
                <br>
                <br>
                <div class="form-group">
                    <label for="userNameField">User Name:</label>
                    <input [(ngModel)]="username" type="text" class="form-control" placeholder="Enter username" required>
                    <br>
                    <label for="passwordField">Password:</label>
                    <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password" required>
                    <br>
                    <label for="passwordConfirmField">Confirm Password:</label>
                    <input [(ngModel)]="confirmpass" type="password" class="form-control" placeholder="Re-enter Password" required>
                    <br>
                    <label for="firstNameField">First Name:</label>
                    <input [(ngModel)]="first" type="text" class="form-control" placeholder="First Name" required>
                    <br>
                    <label for="lastNameField">First Name:</label>
                    <input [(ngModel)]="last" type="text" class="form-control" placeholder="Last Name" required>
                    <br>
                    <label for="emailField">Email:</label>
                    <input [(ngModel)]="email" type="text" class="form-control" placeholder="Email" required>
                    <br>
                    <button (click)="newUser()" class="btn btn-primary">Sign Up</button>
                    <p id = "warning" style="color:red"></p>
                </div>
            </div>
        </div>
    </div>
</div>