<div>
    <h1>Welcome {{currentUser.firstName}}</h1>
</div>
<br>
<br>

<div>
    <button (click)="showReim = !showReim; getUserReim()"  class="btn btn-primary">{{showReim ? 'Hide Reimbursments' : 'Show Reimbursments'}}</button>
</div>
<div *ngIf="showReim">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID #</th>
                <th scope="col">Amount</th>
                <th scope="col">Type</th>
                <th scope="col">Submission Date</th>
                <th scope="col">Status</th>
                <th scope="col">Resolution Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of reimbursements">
                <td>{{r.id}}</td>
                <td>{{r.amount | currency:'USD':'symbol':'1.2-2'}}</td>
                <td [ngSwitch]="r.type">
                    <span *ngSwitchCase="1">Lodging</span>
                    <span *ngSwitchCase="2">Travel</span>
                    <span *ngSwitchCase="3">Food</span>
                    <span *ngSwitchCase="4">Other</span>
                    <span *ngSwitchDefault>Other</span>
                </td>
                <td>{{r.submit | date:'full'}}</td>
                <td [ngSwitch]="r.status">
                    <span *ngSwitchCase="1">Pending</span>
                    <span *ngSwitchCase="2">Approved</span>
                    <span *ngSwitchCase="3">Denied</span>
                    <span *ngSwitchDefault>Pending</span>
                </td>
                <td *ngIf="r.resolved != null">{{r.resolved | date:'full'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div>
    <button (click)="newReim = !newReim" class="btn btn-primary">{{newReim ? 'Hide Form' : 'Submit New Reimbursment'}}</button>
</div>

<div *ngIf="newReim">
    <form>
        <div class="input-group mb-6">
            <div class="input-group-prepend">
                <span class="input-group-text">Amount $:</span>
            </div>
           <input [(ngModel)]="amount" name="newReimAmount" type="number" min="0" step="0.01" placeholder="0.00" class="form-control" required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Description:</span>
            </div>
           <textarea [(ngModel)]="description" name="newReimDesc" class="form=control" rows='5' cols='100%' placeholder="Describe what the reimbursment is for and how it relates to your work." required></textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Select Reimbursment Type:</span>
            </div>
           <select [(ngModel)]="type" name="newReimType" class="form=control" required>
               <option value="1">Lodging</option>
               <option value="2">Travel</option>
               <option value="3">Food</option>
               <option value="4">Other</option>
           </select>
        </div>
        <label class="image-upload-container btn btn-bwm">
            <span>Upload Reciet Image: </span>
            <input #imageInput
                   type="file"
                   accept="image/*"
                   (change)="processFile(imageInput)">
          </label>
        <button (click)="sendReim()" class="btn btn-secondary">Submit</button>
    </form>
    
</div>

<!-- <label class="image-upload-container btn btn-bwm">
    <span>Select Image</span>
    <input #imageInput
           type="file"
           accept="image/*"
           (change)="processFile(imageInput)">
  </label> -->