<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 jumbotron">
                <div class="text-muted text-centered">Welcome please log in.</div>
                <br>
                <br>
                <div class="form-group">
                    <label for="userNameField">User Name:</label>
                    <input [(ngModel)]="username" type="text" class="form-control" placeholder="Enter username or email" required>
                    <br>
                    <label for="passwordField">Password:</label>
                    <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password" required>
                    <br>
                    <button (click)="sendLogin()" class="btn btn-primary">Login</button>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>