<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 jumbotron">
                <div class="text-muted text-centered">Welcome please log in.</div>
                <br>
                <br>
                <div class="form-group">
                    <label for="userNameField">User Name:</label>
                    <input type="text" class="form-control" id="userNameField" placeholder="Enter username or email">
                    <br>
                    <label for="passwordField">Password:</label>
                    <input type="password" class="form-control" id="passwordField">
                    
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>